* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    color: blue;
}

/* -----------Pelda1----------- */

div {
    width: 200px;
    height: 200px;
}

.pelda1 {
    background-color: cornflowerblue;
    transition: all 0.3s ease;
}

.pelda1:hover {
    background-color: red;
    cursor: pointer;
    transform: scale(1.2);
}

/* -----------Pelda2----------- */

.pelda2 {
    background-color: red;
    cursor: pointer;
    animation-name: colorchange;

}

.pelda2:hover {
    animation-duration: 10s;
    animation-iteration-count: infinite;

}

@keyframes colorchange {
    0% {
        background-color: red;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: green;
    }

}


/* -----------Pelda3----------- */
.pelda3 {
    background-color: orange;
}

.pelda3:hover {
    animation: rotate 8s infinite linear;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(120deg);
        background-color: blue;
    }

    100% {
        transform: rotate(360deg);
        background-color: red;
    }

}


/* -------------------- Láda Projekt -------------------- */

.ladaProject {
    background-color: rgba(0, 128, 0, 0.811);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ladaimg {
    width: 200px;
    transition: transform 0.5s ease;
}

.hidden {
    visibility: hidden;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}